<!DOCTYPE html>
<html>
<head>
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="static/css/apps.css" />

	<link rel="stylesheet" type="text/css" href="static/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">

	<script type="text/javascript" src="static/js/app.js"></script>

	<script type="text/javascript" src="static/js/jquery.poptrox.min.js"></script>
</head>

<body>


	<div id="center-block">
		<div class="card-row">
			<div class="col-md-3">
				<div class="card grayscale">
					<img class="app-icon" width="128" src="static/icons/fb.png">
					<button class="button">
						<img class="settings" src="static/icons/settings.png">
					</button>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">

					<img class="app-icon" width="128px" src="static/icons/twitter.png">
				<button class="button">
						<img class="settings" src="static/icons/settings.png">
					</button>
				</div>
				
			</div>
			<div class="col-md-3">
				<div class="card">
					<img class="app-icon" width="128px" src="static/icons/yelp.jpg">
				<button class="button">
						<img class="settings" src="static/icons/settings.png">
					</button>
				</div>
					
			</div>
		</div>
		<div class="card-row">
			<div class="col-md-3">
				<div class="card">

					<img class="app-icon" width="128px" src="static/icons/weather.png">
					<button class="button">
						<img class="settings" src="static/icons/settings.png">
					</button>
				</div>
					
			</div>
			<div class="col-md-3">
				<div class="card">

					<a href="/api/auth/venmo/login">
						<img class="app-icon" width="128px" src="static/icons/venmo.png">
					</a>
					<button class="button">
						<img class="settings" src="static/icons/settings.png">
					</button>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">

					<img class="app-icon" width="128px" src="static/icons/map.png">
					<button class="button">
						<img class="settings" src="static/icons/settings.png">
					</button>
				</div>
			</div>
		</div>
	</div>





</body>
</html>