<!DOCTYPE html>
<html>
<head>
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
	<link rel="stylesheet" type="text/css" href="static/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">

	<script type="text/javascript" src="static/js/app.js"></script>

	<script type="text/javascript" src="static/js/jquery.poptrox.min.js"></script>
</head>
<body>
	<div id="center-block">
		<div class="row">
			<div class="col-md-4" style="position: relative; left: 0; top: 0">
				<img class="app-icon grayscale" style="position: relative; left: 0; top: 0" width="256" src="static/icons/fb.png">
			</div>
			<div class="col-md-4 ">
				<img class="app-icon" width="256px" src="static/icons/twitter.png">
			</div>
			<div class="col-md-4">
				<img class="app-icon" width="256px" src="static/icons/yelp.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img class="app-icon" width="256px" src="static/icons/weather.png">
			</div>
			<div class="col-md-4">
				<a href="/api/auth/venmo/login">
					<img class="grayscale app-icon" width="256px" src="static/icons/venmo.png">
				</a>
			</div>
			<div class="col-md-4">
				<img class="app-icon" width="256px" src="static/icons/map.png">
			</div>
		</div>
	</div>

  



</body>
</html>