<form method="post" action="/api/register">
	<fieldset>
	  	<div class="form-group">
		    <input class="form-control" placeholder="Phone number" name="phone" type="text">
		</div>
		<div class="form-group">
			<input class="form-control" placeholder="Password" name="password" type="password">
		</div>
		<div class="form-group">
			<input class="form-control" placeholder="Confirm Password" name="confirm" type="password">
		</div>
		<div> <a href="login"> Login </a> here</div>
		<input type="submit" value="Register">
	</fieldset>
</form>